header {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #ffeded;
    margin: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: #643843;
}
h2 {
    color: #7c0a26;
}
p {
    color: #380713;
    justify-content: center;
    align-items: center;
}
hr {
    border-style: none;
    border-top-style: dotted;
    width: 40%;
    border-width: 3px;
    border-color: #2a060f;
}
a {
    color: #a1173a; 
}
#aboutheader{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
input {
    width: 50%;
    border-radius: 5px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav,
.nav-item {
    background-color: #cf9bb1;
    font-size: 20px;
    color: #3e262c;
}
.nav-item {
    margin: 0 10px;
    width: 100%;
    padding:20px;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #C88EA7;
    font-size: larger;
    font-weight: bold;
}
button {
    background-color: #fffdfe;
    color: #2a060f;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    border-color:#380713;
}
button:hover {
    background-color: #2a060f;
    color: #fffdfe;
}
.registeraccount-form{
    justify-content: center;
    background-color: #E7CBCB;
    width: 500px;
    height: 400px;
    box-shadow: 4px 8px 20px 0px #643843;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginaccount-form {
    justify-content: center;
    background-color: #E7CBCB;
    width: 500px;
    height: 250px;
    box-shadow: 4px 8px 20px 0px #643843;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    justify-content: center;
    display: flex;
}

.input-container {
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}
.intro-text {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}
#logo{
    width: 200px;
    height: 200px;
    justify-content: left;
}
#headerTable{
    width: 77%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }